@{
    ViewData["Title"] = "Home Page";
}

<div class="video-header">

    <video autoplay loop muted>
        <source id="watisdit" src="~/lib/videos/Hotra_Camperpark_Website_Header_1920_low.mp4" type="video/mp4" />

    </video>
    <div class="video-overlay">

    </div>
    <div class="video-box">
        <div class="box-text">
            Uw camper of caravan, veilig gestald en altijd toegankelijk!
            <button>Meer informatie</button>
        </div>
    </div>
</div>