@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Show Database value in DataTable";
}
<div>
    <table id="t01">
        <thead>
        <th>Kenteken1</th>
        </thead>
        @foreach (var item in ViewBag.userdetails)
        {

            <tr>
                <td>
                    @item.Kenteken1
                </td>
</tr>
        }
</table>