@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--#region Video header-->

<div class="video-header">
    <!--#region Video background-->
    <video autoplay loop muted>
        <source id="watisdit" src="~/lib/videos/Hotra_Camperpark_Website_Header_1920_low.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay">

    </div>
    <!--#endregion Video background-->
    <!--#region Black box-->
    <div class="video-box">
        <div class="video-content-box">
            <div class="box-text">
                Uw camper of caravan, veilig gestald en altijd toegankelijk!
            </div>
            <button>
                Meer informatie
            </button>
        </div>
    </div>
    <!--#endregion Black box-->
</div>

<!--#endregion Video header-->
<!--#region First regio-->
<div class="container main-content">
    <!--#region Title + text-->
    <div class="title-text">
        <div class="title-header2">
            <hr />
            Zorgeloos<br>stallen<br>
        </div>

        <div class="text-header2">
            Bij Camperstalling Rijssen kunt u 24 uur per dag, zes dagen per week bij uw camper. Ieder moment van de dag kunt u uw camper ophalen voor een reis, om onderhoud te plegen of om schoon te maken. Hetzelfde geldt voor het terugbrengen: u komt langs wanneer ú dat uitkomt. En of u nu kort of lang op reis gaat, u hoeft zich geen zorgen te maken over uw auto. Die parkeert u namelijk gewoon op uw eigen vaste camperplek. Niet voor niets zeggen wij: zorgeloos stallen, zorgeloos op pad.
        </div>
    </div>
    <!--#endregion Title + text-->
    <!--#region Image-->
    <div class="img-header2">
        <img src="/lib/Images/forster-randstadcampers.jpg" />
    </div>
    <!--#endregion Image-->
</div>
<!--#endregion first regio-->
<!--#region Second regio-->
<div class="container main-content">
    <!--#region Table 1-->
    <div class="content-table1">
        <!--#region icon-->
        <div class="icon-table1">
            <img src="~/lib/Images/Icons/history-solid.svg" />
        </div>
        <!--#endregion icon-->
        <!--#region Title-->
        <div class="table1-title">

        </div>
        <!--#endregion Title-->
        <!--#region Text-->
        <div class="table1-text">

        </div>
        <!--#endregion Text-->
    </div>
    <!--#endregion Table 1-->
    <!--#region Table 2-->
    <div class="content-table2">
        <!--#region icon-->
        <div class="icon-table2">

        </div>
        <!--#endregion icon-->
        <!--#region Title-->
        <div class="table2-title">

        </div>
        <!--#endregion Title-->
        <!--#region Text-->
        <div class="table2-text">

        </div>
        <!--#endregion Text-->
    </div>
    <!--#endregion Table 2-->
    <!--#region Table 3-->
    <div class="content-table3">
        <!--#region icon-->
        <div class="icon-table3">

        </div>
        <!--#endregion icon-->
        <!--#region Title-->
        <div class="table3-title">

        </div>
        <!--#endregion Title-->
        <!--#region Text-->
        <div class="table3-text">

        </div>
        <!--#endregion Text-->
    </div>
    <!--#endregion Table 3-->
    <!--#region Table 4-->
    <div class="content-table4">
        <!--#region icon-->
        <div class="icon-table4">

        </div>
        <!--#endregion icon-->
        <!--#region Title-->
        <div class="table4-title">

        </div>
        <!--#endregion Title-->
        <!--#region Text-->
        <div class="table4-text">

        </div>
        <!--#endregion Text-->
    </div>
</div>
<!--#endregion Table 4-->
<!--#endregion Second regio-->
