@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="video-header">
        <video autoplay loop muted>
            <source id="watisdit" src="~/lib/videos/Hotra_Camperpark_Website_Header_1920_low.mp4" type="video/mp4" />
        </video>
        <div class="video-overlay">

        </div>
        <div class="video-box">
            <div class="video-content-box">
                <div class="box-text">
                    Uw camper of caravan, veilig gestald en altijd toegankelijk!
                </div>
                <button>
                    Meer informatie
                </button>
            </div>
        </div>
    </div>

    <div class="container main-content">
        <div class="title-text">
            <div class="title-header">
                <hr />
                Zorgeloos<br>stallen<br>
            </div>

            <div class="text-header">
                Bij Camperstalling Rijssen kunt u 24 uur per dag, zes dagen per week bij uw camper. Ieder moment van de dag kunt u uw camper ophalen voor een reis, om onderhoud te plegen of om schoon te maken. Hetzelfde geldt voor het terugbrengen: u komt langs wanneer ú dat uitkomt. En of u nu kort of lang op reis gaat, u hoeft zich geen zorgen te maken over uw auto. Die parkeert u namelijk gewoon op uw eigen vaste camperplek. Niet voor niets zeggen wij: zorgeloos stallen, zorgeloos op pad.
            </div>
        </div>
        <div class="img-header">
            <img src="/lib/Images/forster-randstadcampers.jpg" />
        </div>
    </div>



    <div class="container main-content">

        <div class="content-table">
            <div class="icon-table">
                <img src="~/lib/Images/Icons/history-solid.svg" />
            </div>
            <div class="table-title">
                Toegang tot uw camper
            </div>
            <div class="table-text">
                U kunt uw camper ophalen en wegbrengen wanneer het u uitkomt - zonder afspraak.
            </div>
        </div>

        <div class="content-table">
            <div class="icon-table">
                <img src="~/lib/Images/Icons/id-card-solid.svg" />
            </div>
            <div class="table-title">
                Met persoonlijke badge
            </div>
            <div class="table-text">
                Met uw persoonlijke badge heeft u gemakkelijk en snel toegang tot de stalling.
            </div>
        </div>

        <div class="content-table">
            <div class="icon-table">
                <img src="~/lib/Images/Icons/square-parking-solid.svg" />
            </div>
            <div class="table-title">
                Veilige en luxe stalling
            </div>
            <div class="table-text">
                Onze beveiligde en luxe camperstalling is van uiteraard alle gemakken voorzien.
            </div>
        </div>

        <div class="content-table">
            <div class="icon-table">
                <img src="~/lib/Images/Icons/bolt-solid.svg" />
            </div>
            <div class="table-title">
                Stroomvoorziening
            </div>
            <div class="table-text">
                U krijgt een vaste parkeerplek in onze stalling, inclusief eigen stroomvoorziening.
            </div>
        </div>
    </div>
