<div class="row">
    <div class="container">
        @if (User.IsInRole(CCSB.Utility.Helper.Admin))
        {
            <div class="form-group col-4" id="divAdminList">
                <label>Select klant</label>
                @Html.DropDownList("userId", new SelectList(ViewBag.UserList, "Id", "Name"),
               new { @class = "form-control select2", @onchange="onUserChange()" })
            </div>
        }
        <div id="calendar"></div>
        <partial name="_AddEditAppointment" />
    </div>
</div>
@section Scripts{
    <script src="~/js/script-custom-calendar.js"></script>
}