@model CCSB.Models.ViewModels.VehicleRegistrationViewModel

<div class="container">
    <form id="account" method="post" asp-action="Register" asp-controller="Vehicles">

        <h4>Account aanmaken</h4>
        <hr />

        <div class="form-group row">
            <label class="col-md-2" asp-for="Email"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2" asp-for="FirstName"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2" asp-for="Insertion"></label>
            <div class="col-md-10">
                <input asp-for="Insertion" class="form-control" />
                <span asp-validation-for="Insertion" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2" asp-for="LastName"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2" asp-for="LicensePlate"></label>
            <div class="col-md-10">
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2" asp-for="Mileage"></label>
            <div class="col-md-10">
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2" asp-for="Length"></label>
            <div class="col-md-10">
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2" asp-for="PowereSupply"></label>
            <div class="col-md-10">
                <input type="checkbox" checked="checked" asp-for="PowereSupply" class="form-control" />
                <span asp-validation-for="PowereSupply" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2" asp-for="Brand"></label>
            <div class="col-md-10">
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2" asp-for="Model"></label>
            <div class="col-md-10">
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            Camper
            @Html.RadioButtonFor(model => model.KindOfVehicle, "Camper")
            Caravan
            @Html.RadioButtonFor(model => model.KindOfVehicle, "Caravan")
        </div>

        <div class="form-group">
            <div class="col-md-10 offset-md-2">
                <input type="submit" value="Registreer" class="btn btn-success" />
            </div>
        </div>

    </form>
</div>