@model CCSB.Models.ViewModels.RegisterViewModel

    <div class="container" id="reglog-style">
        <h2 class="row justify-content-center font-weight-bolder">Registreren</h2>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <section>
                    <form id="account" method="post" asp-action="Register" asp-controller="Account">

                        <h4>Account aanmaken</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger">

                        </div>
                        <div class="form-group row">
                            <label class="col-md-2" asp-for="FirstName"></label>
                            <div class="col-md-10">
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2" asp-for="MiddleName"></label>
                            <div class="col-md-10">
                                <input asp-for="MiddleName" class="form-control" />
                                <span asp-validation-for="MiddleName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2" asp-for="LastName"></label>
                            <div class="col-md-10">
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2" asp-for="Email"></label>
                            <div class="col-md-10">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2" asp-for="Password"></label>
                            <div class="col-md-10">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2" asp-for="PasswordConfirm"></label>
                            <div class="col-md-10">
                                <input asp-for="PasswordConfirm" class="form-control" />
                                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2" asp-for="BankAccount"></label>
                            <div class="col-md-10">
                                <input asp-for="BankAccount" class="form-control" />
                                <span asp-validation-for="BankAccount" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2" asp-for="PostalCode"></label>
                            <div class="col-md-10">
                                <input asp-for="PostalCode" class="form-control" />
                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2" asp-for="City"></label>
                            <div class="col-md-10">
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2" asp-for="Address"></label>
                            <div class="col-md-10">
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 offset-md-2">
                                <input type="submit" value="Registreer" id="button-layout" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="offset-md-2">
                                <a asp-action="Login" id="button-layout">Login</a>
                            </div>
                        </div>

                    </form>
                    @section Scripts{ 
                        <partial name="_ValidationScriptsPartial" />
                    }
                </section>
            </div>
        </div>
    </div>