@model CCSB.Models.Contract

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Kenteken" />
            <div class="form-group">
                <label asp-for="Voornaam" class="control-label"></label>
                <input asp-for="Voornaam" class="form-control" />
                <span asp-validation-for="Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achternaam" class="control-label"></label>
                <input asp-for="Achternaam" class="form-control" />
                <span asp-validation-for="Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tussenvoegsels" class="control-label"></label>
                <input asp-for="Tussenvoegsels" class="form-control" />
                <span asp-validation-for="Tussenvoegsels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumVan" class="control-label"></label>
                <input asp-for="DatumVan" class="form-control" />
                <span asp-validation-for="DatumVan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumTot" class="control-label"></label>
                <input asp-for="DatumTot" class="form-control" />
                <span asp-validation-for="DatumTot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

