@model CCSB.Models.Contract

@{
    ViewData["Title"] = "Edit";
}
<style>
    h1 {
        text-align: center;
        margin: auto;
    }

    div.col-md-4 {
        text-align: center;
        margin: auto;
    }
</style>
<h1> Edit contract</h1>

<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Voornaam" class="control-label"></label>
            <input asp-for="Voornaam" class="form-control" />
            <span asp-validation-for="Voornaam" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Achternaam" class="control-label"></label>
            <input asp-for="Achternaam" class="form-control" />
            <span asp-validation-for="Achternaam" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Tussenvoegsels" class="control-label"></label>
            <input asp-for="Tussenvoegsels" class="form-control" />
            <span asp-validation-for="Tussenvoegsels" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DatumVan" class="control-label">Vanaf:</label>
            <input asp-for="DatumVan" class="form-control" />
            <span asp-validation-for="DatumVan" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DatumTot" class="control-label">tot:</label>
            <input asp-for="DatumTot" class="form-control" />
            <span asp-validation-for="DatumTot" class="text-danger"></span>
        </div>

        <form asp-action="Edit">
            <div class="form-group">
                <input type="hidden" asp-for="Kenteken" />
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Terug naar contracten</a>
</div>

