

<div class="contact-header">
    <div class="contact-box"></div>
    <img src="/lib/Images/header-camper-kopen.jpg" id="contact-header-img" />
    <p>Contact</p>
</div>

<div class="container">
    <div id="reglog-style">
        <div style="width: 100%">
            <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=nl&amp;q=Spuistraat%20210,%201012%20VT%20Amsterdam,%20Netherlands+(CCSB)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
            </iframe>
        </div>
    </div>
</div>