@*<div class="row">
    <div class="container">
        @if (User.IsInRole(CCSB.Utility.Helper.Admin))
        {
            <div class="form-group col-4" id="divAdminList">
                <label>Select admin</label>
                @Html.DropDownList("adminId", new SelectList(ViewBag.AdminList, "Id", "Name"),
               new { @class = "form-control select2" })
            </div>
        }

        <partial name="_AddEditAppointment" />
    </div>
</div>*@
<div class="d-flex justify-content-center">
    <div class="col-md-8">
         <form id="agenda" method="post" asp-action="Agenda" asp-controller="">
             <div id="calendar"></div>
         </form>
    </div>
</div>
@section Scripts{
                <script src="~/js/script-custom-calendar.js"></script>
            }